.reach-out-text {
  color: white;
  font-size: 2em;
  font-weight: 600;
}


form {
  display: flex;
  flex-direction: column;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  .form-el {
    margin-bottom: 2%;
  }

  input,
  textarea,
  button {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1em;
  }

  label,
  button {
    font-size: 1.5em;
  }

}