.reach-out-text {
  color: white;
  font-size: 2em;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  .form-el {
    margin-bottom: 2%;
  }

  input,
  textarea,
  button {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1em;
  }

  label,
  button {
    font-size: 1.5em;
  }

  input {
    height: 40px;
    padding: 0 10px;
    font-size: 1.25em;
  }

  textarea {
    resize: none;
    height: 150px;
    padding: 10px;
  }

  button {
    width: 100px;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
}

.thankyou-msg {
  font-size: 2.5em;
  color: white;
}

@media only screen and (max-width: 512px) {
  form {
    width: 90%;
    height: 90%;

    input,
    textarea,
    button {
      font-size: 1em;
    }

    label,
    button {
      font-size: 1.25em;
    }

    input {
      font-size: 1em;
    }
  }
}