.bkgrnd-section {
  height: 100vh;
}

.mtnbkgrnd-section {
  background-color: white;
}

.aboutmebkgrnd-section {
  background-color: black;
}

.portfoliobkgrnd-section {
  height: 200vh;
  background-color: white;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}