.wrapper-projectcard {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-projectcard {
  height: 75%;
  width: 75%;
  width: 550px;
  height: 550px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  transition: transform .3s; /* Animation */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    transform: scale(1.1);
  }
}

.link-projectcard {
  cursor: pointer;
}

.img-projectcard {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  width: 100%;
}