.nav-desktop {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
  z-index: 5;
  position: fixed;
  mix-blend-mode: difference;
  margin-left: 50%;
}

.nav-mobile,
.hamburger-menu-icon {
  display: none;
}

.link-nav,
.active-link-nav {
  color: white;
  margin-right: 5%;
  margin-top: 2%;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .nav-desktop {
    width: 75%;
    margin-left: 25%;
  }
}

@media only screen and (max-width: 512px) {

  .nav-desktop {
    display: none;
  }

}